.containerPaginado{
    min-height: 100vh;
    height: 100%;
    min-width: 100vw;
    width: 100%;
}

.Card {
    position: relative;
      display: flex;
      flex-direction: column; 
    border-radius: 10px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    width: 30vw;
    max-width: 400px;
    min-width: 300px;
    background-color: #e5e5e5;
    margin-left: 4em;
    margin-right: 4em;
    color:grayscale(1);
    opacity: 0.8;
    padding: 0;
    align-content: center;
}

.Card img{
    width:100%;
    max-width:250px;
    height:100%;
    max-height: 250px;;
}
.Card:hover{
    background-color: #2c4592;
    color: #e5e5e5;}
.Img {
    position: relative;
    width: auto;
    height: auto;
    width:100%;
    max-width:250px;
    height:100%;
    max-height: 250px;;
    filter: grayscale(1);
    margin: 0; 
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.Img:hover  {
    transform: scale(1.1);
    filter: grayscale(0);
  }


.Name{
    position: relative;
    text-decoration: none;   
    margin-left: 0.5em;
    margin-right: 0.5em; 
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size:1rem; 
    letter-spacing: 2px;
}
  
 h2{margin: 0;    padding-top: 0.5em;
    padding-bottom: 0.2em;
   }
 h4{margin: 0;    padding-top: 0.5em;
    padding-bottom: 0.2em;
   }



   @media (max-width:800px){
    .Card {

        margin-left: auto;
        margin-right: auto;
      
    }

    .Img {
        filter: grayscale(0);
    }
    
    .Img:hover  {
        transform: scale(1);
      }
      }   